{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<img src="{{ asset('build/images/logo.png') }}" class="logo" alt="ACME logo">
<h1>Bienvenue!</h1>
{% endblock %}