{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form)}}
    <button type="submit" class='btn-secondary btn-sm'>Add Category</button>
    {{ form_end(form)}}
    <a href="{{ path('app_index') }}" ><button class='btn-secondary btn-sm'>Retour à l'accueil</button></a>
{% endblock %}